.root {
    -fx-background-color: #ffffff;
    -fx-font-family: "Liberation Sans";
}

.button {
    -fx-background-radius: 0em;

}

.button:hover {
    -fx-base: #9b59b6 ;
    -fx-text-fill: #ffffff;
}

.menu-button {
    -fx-background-radius: 0em;
}

.menu-item:hover {
    -fx-background-color: #9b59b6;
    -fx-text-fill: #ffffff;
}

.menu-button:hover {
    -fx-background-color: #9b59b6;
}

.menu-button .label:hover {
    -fx-text-fill: #FFFFFF;
}

.title-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-text-fill: #000000;
    -fx-font-family: "Liberation Sans";
}

.scroll-pane {
    -fx-background: #FFFFFF;
    -fx-border-color: #FFFFFF;
}
